{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-runtime", "transform-object-rest-spread"],
  "comments": false,
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
