[production]
last 2 Chrome versions
last 2 Firefox versions
last 2 Edge versions
last 2 Safari versions
IE 11
last 2 ChromeAndroid versions
last 2 FirefoxAndroid versions
last 2 iOS versions

[development]
last 1 chrome version
last 1 firefox version