{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "plugins": [
    "html",
    "prettier"
  ],
  "settings": { "import/resolver": "webpack" },
  "rules": {
    "no-param-reassign": [
      2,
      {
        "props": true,
        "ignorePropertyModificationsFor": [
          "state"
        ]
      }
    ],
    "prettier/prettier": [
      2,
      {
        "singleQuote": true,
        "semi": false
      }
    ]
  }
}
